/* Color scheme: british pallette */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: rgb(87, 87, 87);
  color: #2f3542;

  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
ul {
  list-style-position: inside;
}
li {
  margin-top: 15px;
}

.fadeIn {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.paraPadd {
  padding: 0 10px 10px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }
  li {
    font-size: 1.2em;
  }
}
