.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: #2f3640;
  opacity: 1;
  z-index: 1;
}
.logo {
  padding-left: 20px;

  margin-right: auto;
  cursor: pointer;
}
.header li {
  display: inline-block;
  margin: 10px;
}
.navList {
  width: 100%;
}
.notshow {
  display: none;
}

.nav-item {
  margin-right: 0.6rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: all 0.5s ease 0;
}

.active-nav-item {
  background-color: #ced6e0;
  padding: 10px;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
}
.nav-item:hover {
  color: black;
}

@media (min-width: 960px) {
  .notshow {
    display: initial;
    width: 600px;
  }
  .nav-item:hover {
    color: white;
  }
  .nav-item {
    color: white;
  }
}
